{% extends "layout.html" %}

{% block body %}
    {% from '_formhelpers.html' import render_field %}

<br/>
<br>
<p></p>
<p></p>
<p></p>
<h3>Welcome <small>{{username}}</small>
                &nbsp;&nbsp;&nbsp;&nbsp;
                        {% if role_number == 3 %}
                                <small><a href={{url_for("get_admins")}} class="btn btn-primary">Check Admins</a>
                                        <a href={{url_for("get_users")}} class="btn btn-primary">Check Users</a>
                                        <a href={{url_for("get_grp_ngn")}} class="btn btn-primary">Check GRP NGN</a>
                                        <a href={{url_for("get_steel_ngn")}} class="btn btn-primary">Check STEEL NGN</a>
                                </small>
                        {% endif %}</h3>
<br>
    <div class="row col-md-12">
        <div class="col-md-3">
            <p></p>
            {% for data in data %}
                <div>
                   <img src="{{url_for('serve_image', file_name=data.logo_path)}}" class="center-image" title="Company logo">
                </div>
            {% endfor %}
        </div>
         <div class="col-md-6">
             <br>
             <p>Status : {{get_status}}</p>
             {% if get_status == "changed" %}
                <p><i><b>NOTE: We strongly advise you to check/update the prices before completing the Quote</b></i></p>
             {% endif %}

                <p></p>
                <form method="POST" action="admin_page">
                      <div class="form-group me">
                          {{render_field(form.field_to_edit, class_="form-control")}}
                      </div>

                      <div class="form-group text-center me">
                        <input type="submit" value="Submit" class="btn btn-primary">
                      </div>
                </form>

                <p></p>
        </div>
         <div class="col-md-3">
             <a href="/my_client">Check your prospective clients here</a>
             {% for data in data %}
                <p>{{data.company}}</p>
                 <p>{{data['company_address']}}</p>
                 <p>{{data['country']}}</p>
             {% endfor %}
        </div>
    </div>

    <div class="row col-md-12">
        <div>
            <p></p>
            <table class="table table-bordered">
                {% if get_status == "changed" %}
                <thead>
                    <tr>
                        {% for result in results %}
                            {% for key,value in result.items() %}
                                <th>{{key}}</th>
                            {% endfor %}
                            <th>Action</th>
                         {% endfor %}
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        {% for result in results %}
                            {% for key,value in result.items() %}
                                <th>{{value}}</th>
                            {% endfor %}

                                <th><a id="edit_prop" href={{url_for("edit_page", table=table)}} class="btn btn-primary">Edit</a></th>
                        {% endfor %}
                    </tr>
                    {% else %}
                        <p>This might be your first time for the field you just selected, the default setting would be used for you. The default price is the average price from the survey taken from different companies</p>

                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>


    <p></p>

{% endblock %}





