{% extends "layout.html" %}

{% block body %}

<br>
<p>There are <b>{{number_of_users}}</b> users</p>
<p> All Users </p>
        <div class="row col-md-2">
                <table class="table table-bordered">
                    <thead>
                       {% for detail in result[0] %}
                          <td>{{detail}}</td>
                       {% endfor %}
                    </thead>
                    <tbody>
                        <tr>
                            {% for detail in result %}
                                {% for key, value in detail.items() %}
                                <th>{{value}}</th>
                                {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>

{% endblock %}