<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Example multiple select</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
</body>
</html>



<th>ID</th>
            <th>UNIT PRICE</th>
            <th>INSTALLATION PRICE</th>
            <th>UNIT LENGTH</th>
            <th>Action</th>



 $.ajax({
                url : "/"
                type : "GET"
                headers = {'accept': 'application/json'}
                date : JSON.stringify(value)
            })

 function getTotalValue(){
                    const s = JSON.stringify(total)
                    console.log(s)
            }



<form method="POST" action="">
                <div class="form-group me">
                     <label for="email">Name</label>
                     <input type="text" name="name" class="form-control" value="{{request.form.name}}" required>
                  </div>
                   <div class="form-group me">
                     <label for="email">Email</label>
                     <input type="email" name="email" class="form-control" value="{{request.form.email}}" required>
                  </div>
                  <div class="form-group me">
                     <label for="volume">Volume </label>
                     <input type="text" name="volume" class="form-control" value="{{request.form.volume}}" required>
                  </div>
                   <div class="form-group me">
                     <label for="tank">Type of Tank </label>
                       {{render_field(form.type_of_tank, class_="form-control")}}
                  </div>
                <div class="form-group me">
                     <label for="fare">Transportation Cost </label>
                     <input type="text" name="transport" class="form-control" value="{{request.form.transport}}">
                  </div>
                  <div class="form-group text-center me">
                      <button type="submit" class="btn btn-primary">Get Quotation</button>
                  </div>
            </form>

<input type="submit" value="Sign up" class="btn btn-primary">


<td scope="col">{{details.name}}</td>
                        <td scope="col">{{details.company}}</td>
                        <td scope="col">{{details.address}}</td>
                        <td scope="col">{{details.email}}</td>
                        <td scope="col">{{details.volume}}</td>
                        <td scope="col">{{details.type_of_tank}}</td>
                        <td scope="col">{{details.transport}}</td>
                        <td scope="col">{{details.mobile}}</td>
                        <td scope="col">{{details.date}}</td>



<!--        company's logo ends  here -->

<!--add form to upload and change logo-->
        <form action="/quotation" method="post" enctype="multipart/form-data" class="center">
            <p>
                <label>Upload a logo to use your preferred logo </label>
                <input type="file" name="file" id="">
            </p>
            <p>
                <button class="btn btn-primary">Submit</button>
            </p>
        </form>
    {% endif %}
<!--end add form to upload and change logo-->

<div class="col-md-4">
            <!--        company's logo ends  here -->

            <!--add form to upload and change logo-->
            <form action="/" method="post" enctype="multipart/form-data" class="center">
                <p>
                    <label>Upload a logo to use your preferred logo </label>
                    <input type="file" name="file" id="">
                </p>
                <p>
                    <button class="btn btn-primary">Submit</button>
                </p>
            </form>
            <!--end add form to upload and change logo-->
        </div>

image = request.files['file']

        # check if filename is empty
        if image.filename == "":
            flash("Please upload an image")
            return redirect(request.url)

        # If filename is not empty, then let's sanitize it
        filename = secure_filename(image.filename)

        basedir = os.path.abspath(os.path.dirname(__file__))
        image.save(os.path.join(basedir, app.config['IMAGE_UPLOADS'], filename))

        <p>
            <label>Upload a logo to use your preferred logo </label>
            <input type="file" name="file" id="">
        </p>



<div class="form-group me">
                      {{render_field(form.logo, class_="form-control")}}

</div>

logo = FileField('Company Logo', validators=[
                        # FileRequired("File should not be empty"),
                        # FileAllowed(['jpg', 'JPEG', 'png', 'PNG', 'JPG', 'jpeg', 'gif', 'GIF'], 'Images only !'),
                        FileAllowed(photos, 'Images only !'),
                        FileSize(50, "Image must not exceed 50b")
                        ])

filename = photos.save(form.logo.data)        # save the file
        file_url = url_for("get_file", filename=filename)

 print(filename)

 # check if file is empty
        # file_name = ''
        # if file:
        #     filename = secure_filename(file.filename)
        #     file_name.join(filename)
        #     file.save(os.path.join(app.config['IMAGE_UPLOADS'], filename))
        #     # create a cursor

 {% for detail in details %}
                    <p>{{detail.company}}</p>
                    <p>{{detail.company_address}}</p>
                     <p>{{detail.country}}</p>
                 {% endfor %}


 # get the file
    if request.method == "POST":

        try:
            file = request.files.get('file')
            print(file)
            # get the extension
            filename = secure_filename(file.filename)
            extension = os.path.splitext(filename)[1].lower()
            print(extension)

            if file:
                # file.save(f'static/uploads/{secure_filename(file.filename)}')

                # check for the right extension
                if extension not in app.config['ALLOWED_EXTENSION']:
                    flash("Image not allowed. Image must be jpeg, png, gif or svg", "warning")
                    return redirect(request.url)

                file.save(os.path.join(app.config["UPLOAD_DIRECTORY"], filename))

                file_name.join(filename)
                return redirect(request.url)

        except RequestEntityTooLarge:
            flash("File must not be larger than 100kb", "warning")
            return redirect(request.url)

        return redirect(request.url)


@app.route("/upload", methods=['GET', 'POST'])
@is_logged_in
def upload():

    if request.method == "POST":

        try:
            file = request.files.get('file')
            print(file)
            # get the extension
            filename = secure_filename(file.filename)
            extension = os.path.splitext(filename)[1].lower()
            print(extension)

            if file:
                # file.save(f'static/uploads/{secure_filename(file.filename)}')

                # check for the right extension
                if extension not in app.config['ALLOWED_EXTENSION']:
                    flash("Image not allowed. Image must be jpeg, png, gif or svg", "warning")
                    return redirect("/admin_page")

                else:
                    file.save(os.path.join(app.config["UPLOAD_DIRECTORY"], secure_filename(file.filename)))

                    # file_name.join(filename)
                    return redirect("/admin_page")

        except RequestEntityTooLarge:
            flash("File must not be larger than 100kb", "warning")
            return redirect("/admin_page")

        return redirect("/admin_page")

<p class="center"><a href="/change_logo"><input type="button" class=" btn btn-default" value="Change logo"></a></p>

 <form action="/admin_page" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="">
                <input type="submit" value="Change logo">
            </form>


{{ form.hidden_tag() }}

 {% if file_name %}
                <div class="mt-5">

                   <img src="{{url_for('serve_image', file_name=data.logo_path)}}" class="center-image" title="Company logo">
                </div>
            {% else %}
<!--        company's logo starts here -->
                <div class="mt-5">
                   <img src="{{url_for('static', filename='quoteLogo.PNG')}}" class="center-image" title="Customize your company logo">
                </div>
            <br/>
            {% endif %}


        if field_to_edit == "GRP prices":
            # for grp
            table = "grp_tank_details"
            result = cur.execute("SELECT * FROM grp_tank_details")

            if result > 0:
                grp_data = cur.fetchall()
                return render_template("admin_page.html", results=grp_data, form=form, table=table, data=data)

        elif field_to_edit == "Steel prices":
            # for steel
            table = "steel_tank_details"
            result = cur.execute("SELECT * FROM steel_tank_details")

            if result > 0:
                steel_data = cur.fetchall()
                return render_template("admin_page.html", results=steel_data, form=form, table=table, data=data)

        elif field_to_edit == "Vat":
            # for vat
            table = "vat"
            result = cur.execute("SELECT * FROM vat")

            if result > 0:
                vat_data = cur.fetchall()
                return render_template("admin_page.html", results=vat_data, form=form, table=table, data=data)


                result = [tuple((cur.execute("SELECT * FROM {}".format(tables[val[0]])) for val in enumerate(price_list)
                  if field_to_edit == price_list[val[0]]]

 # else:
            #     msg = "You have not selected anything, kindly select what you want to edit"
            #     return render_template("admin_page.html", msg=msg, form=form)

 {% else %}
<!--        company's logo starts here -->
        <div class="mt-5">
           <img src="{{url_for('static', filename='quoteLogo.PNG')}}" class="center-image" title="Customize your company logo">
        </div>

    {% endif %}


# class UploadForms(Form):
#     def __init__(self, photos):
#         self.photos = photos
#
#     def get_photo(self):
#         photo = FileField(
#             validators=[
#                     FileAllowed(self.photos, "Only images are allowed"),
#                     FileRequired("File should not be empty"),
#                     FileSize(50, "Image must not exceed 50kb")
#             ]
#         )
#         submit = SubmitField("Upload")

# send_mail()
            # email the user
            body_html = render_template('password_reset.html', user=user, password_reset_code=code)
            body_text = render_template('password_reset.html', user=user, password_reset_code=code)

            # create a multipart message and set headers
            message = MIMEMultipart()
            message["From"] = "getAquote.com"
            message["To"] = user
            message["Subject"] = "Reset Password"

            # add body to the email
            message.attach(MIMEText(body_html, "plain"))
            message.attach(MIMEText(body_text, "plain"))

            # convert message to string
            msg = message.as_string()


{% extends "layout.html" %}

{% block body %}
    {% from '_formhelpers.html' import render_field %}
<p>We have received a request to reset your password.</p>
<p>To reset your password, please click on this link </p>


{% endblock %}



# from itsdangerous import TimedJSONWebSignatureSerializer
from itsdangerous.url_safe import URLSafeTimedSerializer as Serializer
from itertools import chain

# msg for mail
        if email:
            msg = Message("OTP", sender='getAQuote@gmail.com', recipients=[email])
            msg.body = str(otp)
            mail.send(msg)
            flash("An OTP has been sent to your email. Please check for confirmation and enter the OTP", "success")

        return redirect(url_for('validate_email'))


 # get the remaining data
        admin_name = form.name.data
        email = form.email.data
        country = form.country.data
        telephone = form.telephone.data
        company = form.company.data
        company_address = form.company_address.data
        password = sha256_crypt.hash(str(form.password.data))
        print(file)

        try:
            cur = mysql.connection.cursor()
            cur.execute("INSERT INTO admins(admin_name, email, country, telephone, password, company, company_address, logo_path) \
                                VALUES(%s, %s, %s, %s, %s, %s, %s, %s)", (admin_name, email, country, telephone, password, company, company_address, filename))

            # commit to db
            cur.connection.commit()

            cur.close()

        except (MySQLdb.Error, MySQLdb.Warning) as error:
            return render_template("signup.html", error=error, form=form)

        flash("Signed up successfully", "success")

        return redirect(url_for("login"))

    if request.method == "POST":
        user_otp = request.form.get('otp')

        if otp == int(user_otp):
            flash("Email verification is successful. You can now log in", "success")
            return redirect(url_for("login"))
        flash("OTP does not match")


    {% if session['logged_in'] and logo %}
        <div class="mt-5">
           <img src="{{url_for('static', filename='/uploads/' + logo)}}" class="center-quote-image" title="Company logo">-->
        </div>
    {% else %}
        <div class="mt-5">
           <img src="{{url_for('static', filename='quoteLogo.PNG')}}" class="center-image" title="Customize your company logo">-->
        </div>
    {% endif %}


https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js

https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js


  body {
    font-size: 18px;
    padding: 55px;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

table, th, td {
    margin: auto;
    text-align: center;
    border: 1px solid;
}

table {
    width: 80%;
}

.text-right {
    text-align: right;
}


.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}


config = pdfkit.configuration(wkhtmltopdf="C:\\Program Files\\wkhtmltopdf\\bin\\wkhtmltopdf.exe")

        # change from html format to string and keep in memory for now(that's why we used False)
        pdf = pdfkit.from_string(rendered, False, configuration=config, options={"enable-local-file-access": False})

        # enable additional headers to be added to the view(i.e. stringed html, pdf) using the make_response
        response_ = make_response(pdf)

        # change the content type to pdf for the browser
        response_.headers['Content-Type'] = 'application/pdf'

        # tell the browser how to handle the file and specify the filename
        response_.headers['Content-Disposition'] = 'attachment; file_name=output.pdf'

        return response_


ONES_ = {0:"", 1:"One", 2:"Two", 3: "Three", 4: "Four", 5: "Five", 6: "Six",7: "Seven",8: "Eight", 9: "Nine"}


TEENS_ = {0:"Ten", 1:"Eleven", 2:"Twelve", 3:"Thirteen", 4:"Fourteen", 5:"Fifteen", 6:"Sixteen",
            7:"Seventeen", 8:"Eighteen", 9:"Nineteen"}


TENS_ = {0:"", 1:"", 2:"Twenty", 3:"Thirty", 4:"Forty", 5:"Fifty", 6:"Sixty", 7:"Seventy", 8:"Eighty", 9:"Ninety"}


function convertNumberToWords(number) {

  if (number == 0){
        return 0;
  } else if (number < 0){
        return "minus" + convertNumberToWords(Math.abs(number))
  }else if (number < 10){
        return ONES_[number]
  }else if (number < 20){
        return TEENS_[number - 10]
  }else if (number < 100){
        return  TENS_[Math.floor(number / 10)] + " " + convertNumberToWords(number % 10)

  }else if (number < 1000){
        return ONES_[Math.floor(number / 100)] + " Hundred " + " and " + convertNumberToWords(number % 100)
  }else if (number < 1000000){
        return convertNumberToWords(Math.floor(number / 1000)) + " Thousand " + convertNumberToWords(number % 1000)
  }else if (number < 1000000000){
        return convertNumberToWords(Math.floor(number / 1000000)) + " Million " + convertNumberToWords(number % 1000000)
  }else if (number < 1000000000000){
        return convertNumberToWords(Math.floor(number / 1000000000)) + " Billion " + convertNumberToWords(number % 1000000000)
  }else {
        return "Figure very Large"
        }
  };

// Define the convertNumberToWords function
function convertNumberToWords(number) {
  // if number present in object no need to go further
  if (number in numbersToWords) return numbersToWords[number];

  // Initialize the words variable to an empty string
  let words = "";

  // If the number is greater than or equal to 100, handle the hundreds place (ie, get the number of hundres)
  if (number >= 100) {
    // Add the word form of the number of hundreds to the words string
    words += convertNumberToWords(Math.floor(number / 100)) + " hundred";

    // Remove the hundreds place from the number
    number %= 100;
  }

  // If the number is greater than zero, handle the remaining digits
  if (number > 0) {
    // If the words string is not empty, add "and"
    if (words !== "") words += " and ";

    // If the number is less than 20, look up the word form in the numbersToWords object
    if (number < 20) words += numbersToWords[number];
    else {
      // Otherwise, add the word form of the tens place to the words string
      //if number = 37, Math.floor(number /10) will give you 3 and 3 * 10 will give you 30
      words += numbersToWords[Math.floor(number / 10) * 10];

      // If the ones place is not zero, add the word form of the ones place
      if (number % 10 > 0) {
        words += "-" + numbersToWords[number % 10];
      }
    }
  }

  // Return the word form of the number
  return words;
}

const numbersToWords = { 0: "zero", 1: "one", 2: "two", 3: "three", 4: "four", 5: "five", 6: "six", 7: "seven",8: "eight",
                        9: "nine", 10: "ten", 11: "eleven", 12: "twelve", 13: "thirteen", 14: "fourteen", 15: "Fifteen",
                        16: "sixteen", 17: "seventeen", 18: "eighteen", 19: "nineteen", 20: "twenty", 30: "thirty",
                        40: "forty", 50: "fifty", 60: "sixty", 70: "seventy", 80: "eighty", 90: "ninety"
                        };